.Historiqueclient-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-sm {
  font-size: small;
}

.custom-table {
  font-size: 0.7rem;
  width: 100%;
}

.custom-table.overflow-auto {
  width: 100%;
  max-height: 300px; /* ou la hauteur souhaitée */
  overflow: auto;
}

th { /* header cell */
  position: sticky;
  top: 0;
  background-color: #F9F8F8;
  padding: 5px;
}

td {
  border-bottom: solid 1px #cdcfd1;
  padding: 5px;
}

